.btn:hover {
  cursor: pointer;
}

.modal-content {
  font-family: "Source Sans 3";
}

.background {
  background-color: rgba(15, 23, 42, 0.7);
}

.card {
  background-color: rgba(15, 23, 42);
  border-color: rgba(15, 23, 42);
  box-shadow: 0 4px 8px 4px rgba(45, 212, 190, 0.362);
}

.titlecard {
  /* background-color:rgba(45, 212, 190, 0.362); */
  background-color: rgba(15, 23, 42);
  color: rgb(94 234 212); 
  border-color: rgba(15, 23, 42) ;
  box-shadow: 0 0px 3px 3px rgba(45, 212, 190, 0.362);
}

.list {
  line-height: 2;
  font-size: 18px;
}

.titles {
  /* color:  rgba(15, 23, 42); */
  padding: 2px; 
  font-weight: 1000;
  font-size: 20px;
  font-family: "Source Sans 3"
}

.btn-close{
  color: white !important;
}

.footerText{
  font-size: 16px;
}

.footerTag{
  font-size: 14px;
}

.Link{
  font-weight: 500;
  color: #ccd6f6;
}

.Link:hover{
  color: rgb(94 234 212);
  font-weight: 500;
}

@media (max-width: 568px) {
  .largeText {
    font-size: 20px !important;
  }

  .smallText {
    font-size: 16px !important;
  }

  .extraSmallText {
    font-size: 14px !important;
  }

  .list {
    font-size: 14px !important;
  }
}

.close{
  background-color: transparent;
  border: transparent;
}