@import "@node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #0f172a;
  font-weight: 300;
  color: #ccd6f6;
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3";
  scroll-behavior: smooth;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  max-width: 700px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color:  #ccd6f6;
  font-family: "Source Sans 3",'Times New Roman', Times, serif;
  text-align:left;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 25px;
  font-weight: 1000;
  color:  rgb(94, 234, 212);
  background-color: rgba(45,212,191,.1); 
  display: inline;
  text-align: center;
  font-family: "Source Sans 3",'Times New Roman', Times, serif;
  padding: 5px; 
}

h3 {
  font-size: 20px;
  font-weight: 900;
  color:#ccd6f6;
  text-align:center;
}

p {
  font-size: 25px;
  color: #ccd6f6;
}

nav.navbar {
  background-color:  #0f172af1 !important;
  padding-top: 20px;
}

nav.navbar .nav-link {
  color: #ccd6f6; 
  text-decoration: none;
  transition: color 0.3s ease;
}

nav.navbar .nav-link:hover {
  color: rgb(94 234 212);
}

nav.navbar .nav-link.active {
  color:rgb(94 234 212); 
}

.navbar-brand {
  color: #ccd6f6; 
}

.navbar-brand:hover {
  color: #ccd6f6 !important; 
}


.reduced-font-size {
  font-size: 15px;
}

.gradientText {
  background-image: linear-gradient(to right, #646ffe, #14b2fa);
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent;
}

.display-badge {
  display: inline-block;
  text-align: center;
  font-family: "Source Sans 3"
} 

.bio-wrapper {
  position: relative;
}

.bio-text {
  cursor: pointer;
  transition: background-image 0.3s ease-in-out;
}

.gradientText {
  background-image: linear-gradient(to right, #646ffe, #14b2fa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bio-text:hover {
  background-image: linear-gradient(to right, #646ffe, #14b2fa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cartoon-character {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translateX(-50%);
  width: 85px;
  height: 85px;
  background: url('../public/assets/robot.png') center/contain no-repeat;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.bio-text:hover + .cartoon-character {
  opacity: 1;
}

::-moz-selection {
  /* Code for Firefox */
  color: #0f172a;
  background: #FCE694;
}

::selection {
  color: #0f172a;
  background: #FCE694;
}

a{
  text-decoration: none;
}

.btn-close{
  color: white !important;
}