.musicTxt {
  font-family: "Rancho";
}

.stopBtn {
  display: none;
}

.stopBtn,
.playBtn{
    background-color: transparent;
    border-radius: 10px;
    padding-left: 5px;
    border: transparent;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

