.navContainer {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 3vh;
	z-index: 999;
}

.navBackground {
	width: 380px;
	height: 40px;
	padding-left: 0%;
	padding-right: 0%;
	background: #ffffff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
}

.navBackgroundDark {
	width: 380px;
	height: 40px;
	padding-left: 0%;
	padding-right: 0%;
	background: rgba(15,23,42);
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.1);
	border-radius: 40px;
}

.navList {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	margin-left: -16px;
	margin-right: 20px;
	margin-top: 9px;
}

.navItem {
	font-weight: bold;
	font-size: 80%;
	color: #acacb4;

}

.navItemDark {
	font-weight: bold;
	font-size: 80%;
	color: #8fa4b8;

}

.navItemActive a {
	color: #14b8a6 !important;
}

.navItem a {
	text-decoration: none;
}

.navItem a:hover {
	color: #14b8a6;
	transition: color 0.3s ease-in-out;
}

@media (max-width: 600px) {
	.navbar {
		margin-left: 25%;
		margin-right: 25%;
		width: 80%;
		font-size: 80%;
	}

	.navBackground {
		width: 80%;
		height: 40px;
	}
	.navBackgroundDark {
		width: 80%;
		height: 40px;
	}

	.navItem {
		font-weight: bold;
	}
	.navItemDark {
		font-weight: bold;
	}

}

.themeIcon{
	color: #acacb4;
}

.themeIcon:hover,
.themeIconDark:hover{
	color: #14b8a6;
}

.themeIconDark{
	color: #bfd2ec;
	;
}