.cover {
  object-fit: contain;
  margin-top: 1.5rem;
  width: 80%;
  height: 10%;
}

.gradientText {
  background-image: linear-gradient(to right, #646ffe, #14b2fa);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.travel {
  background-color: rgba(45, 212, 191, 0.1);
  font-weight: 900;
  color: rgb(94 234 212);
}

@keyframes shake {
  0% {
    transform: rotate(4deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  80% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

.shake {
  transition: 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
  animation: shake 1s;
  animation-iteration-count: 5;
}

.shake:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
  transition: 0.3s;
}

.icons{
  color: #ccd6f6;
}

.icons:hover {
  color: rgb(94 234 212);
}

.uomLink {
  color: #ccd6f6;
  text-decoration: none;
}

.uomLink:hover{
  color: rgb(94 234 212);
}

.date{
  font-weight: 900;
  font-size: 15px;
}

.title{
  font-weight: 900;
  font-size: 20px;
}

.buttonPaper{
  color: #ccd6f6;
  border: 2px #ccd6f6 solid;
}

.buttonPaper:hover{
  background-color:rgb(94 234 212);
  color: #0f172a;
}

@media (min-width:992px){
  .header{
  height: 100vh;
}
}

@media (max-width:568px) {
  .coverText{
    font-size: 30px;
  }

  .bioText{
    font-size: 20px !important;
  }

  .largeText{
    font-size: 20px !important;
  }

  .smallText{
    font-size: 16px !important;
  }

  .extraSmallText{
    font-size: 14px !important;
  }

  .cover{
    width: 70%;
  }
}
