.pink{
  color:rgb(94 234 212);
}

.blue{
  color:rgb(94 234 212);
}

.cover{
  object-fit: contain;
}

.gradientText {
  background-image: linear-gradient(to right, #646ffe, #14b2fa);
  background-clip: text; 
  -webkit-background-clip: text; 
  color: transparent;
}

.travel{
  background-color:rgba(45,212,191,.1);
  font-weight: 900;
  color: #33FFE7;
}
