.workCard {
  width: 100%;
  background: transparent;
}

.workCard:hover {
  background: rgba(30, 41, 59, 0.4);
  /* background: #112240; */
}

.workCard:hover .title {
  color: rgb(94 234 212);
}

.workCard:hover .viewButton {
  color: rgb(94 234 212);
  margin-top: -10px;
  transition: 0.3s;
}

.badge {
  top: 10px;
  right: 10px;
  padding: 6px 12px;
  background-color: rgba(45, 212, 191, 0.1);
  color: rgb(94 234 212);
  border-radius: 9999px;
  font-size: 12px;
  font-family: "Source Sans 3";
  font-weight: 400;
}

@media (max-width:568px) {
 .workCard{
  background: rgba(30, 41, 59, 0.4);
 }

 .title{
  font-size: 16px !important;
 }

 .conference{
  font-size: 14px !important;
 }

 .date{
  font-size: 14px !important;
 }
}