
.homepageArticle {
	width: 100%;
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
}

.homepageArticleDark {
	width: 100%;
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
}

.homepageArticle:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.homepageArticleDark:hover {
	background: rgba(41, 50, 73, 0.4);;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.homepageArticleContent {
	padding: 30px;
}

.homepageArticleDate {
	opacity: 1;
	color: #acacb4;
	font-size: 12px;
	margin-bottom: 5px;
}

.homepageArticleDateDark {
	opacity: 1;
	color: #b1b1d8;
	font-size: 12px;
	margin-bottom: 5px;
}

.homepageArticleTitle {
	opacity: 1;
	color:  #27272a;
	font-size: 16px;
	margin-bottom: 1em;
	font-weight: 700;
}

.homepageArticleTitleDark {
	opacity: 1;
	color:  #d1d5db	;
	font-size: 16px;
	margin-bottom: 1em;
	font-weight: 700;
}

.homepageArticleDescription {
	color: #27272a;
	font-size: 14px;
	line-height: 1.5;
}

.homepageArticleDescriptionDark {
	color: #d1d5db	;
	font-size: 14px;
	line-height: 1.5;
}

.homepageArticleLink {
	opacity: 1;
	margin-bottom: 1em;
	font-weight: 700;
	color: #65656d;
	text-decoration: none;
}

.homepageArticleLinkDark {
	opacity: 1;
	margin-bottom: 1em;
	font-weight: 700;
	color: #c8c8d7;
	text-decoration: none;
}



.homepageArticleLink :hover {
	color: #14b8a6;
	text-decoration: none;
}

.homepageArticleLinkDark :hover {
	color: #14b8a6;
	text-decoration: none;
}

@media (max-width: 600px) {
	.homepageArticle {
		width: 100%;
	}
	.homepageArticleDark {
		width: 100%;
	}
}


.badgeRow {
	gap: 7px; /* Add some spacing between badges */
  }
  
  .badge {
	top: 5px;
	right: 8px;
	padding: 6px 12px;
	color: #14b8a6;
	border-radius: 9999px;
	font-weight: 400;
	font-size: 13px;
  }

.projectLink {
	display: flex;
	align-items: center;
	color: #65656d;
	font-size: 12px;
	padding-top: 20px;
}

.projectLinkDark {
	display: flex;
	align-items: center;
	color: #c8c8d7;
	font-size: 12px;
	padding-top: 20px;
}

.projectLinkIcon {
	padding-left: 5px;
	font-size: 13px;
}
