.card {
  border: none;
  border-radius: 10px;
  width: 270px;
  height: 360px;
  /* background: url("../public/assets/Manasa.png"); */
  background-position: center;
  background-size: contain;
}

.afterCard {
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 200px;
  /* background: url("../public/assets/Manasa.png"); */
  background-position: center;
  background-size: contain;
}

.beforeCard {
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 200px;
  /* background: url("../public/assets/Manasa.png"); */
  background-position: center;
  background-size: contain;
}

@media (max-width: 991px) {
  .beforeCard,
  .afterCard{
    display: none;
  }
}

.overlay {
    opacity: 0;
    background-image: linear-gradient( to top,#111, #FFFFFF00 );
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card:hover {
  background-image: black;
  transition: 1s;
}

.card:hover .overlay{
    opacity: 1;
    transition: 1s;
}

.text {
    color: #ccd6f6 !important;
    height: 100%;
    font-size: 15px !important;
    font-weight: bold;
    z-index: 3;
}

.textContent{
  font-size: 20px !important;
}

.arrowBtn{
  color: #0f172a;
  background-color: #ccd6f6;
  border-radius: 10px;
  border: 2px solid transparent;
}

.arrowBtn:hover{
  color: #ccd6f6;
  background-color: #0f172a;
  border: 2px solid #ccd6f6;
  transition: 250ms;
}